<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UVI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>34449AD91E7E42A400E78E15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34449AE11E7E42A500E78E15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34449AFC1E7E444600E78E15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34449B041E7E444700E78E15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>344F08501E71D6BF00011081</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>344F08641E71D6BF00011081</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>344F086F1E71D6BF00011081</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
